div(id='footer')
            span(id="head") Contact Us : 
            br
            br
            br
            span(class=" font fa fa-phone") &nbsp; &nbsp; 9308184693, 9097134523
            br
            span(class=" font fa fa-envelope-o") &nbsp; &nbsp; pubgwarfare@gmail.com 