div(id='navbar')
            img(id='headerImage' src='pubg.png')
            ul
                li 
                    a(href='/login') Login
                li 
                    a(href='/history') History
                li 
                    a(href='/tournaments') Tournaments
                li 
                    a(href='/') Home
